.kanban {
    display: flex;
    padding: 30px;
    width: 750;
    background-color: #009578;
    border-radius: 5 px;
}

.kanban * {
    font-family: sans-serif;
}

.kanban__column {
    flex: 1;
}

.kanban__column:not(:last-child){
    margin-right: 30 px;
}

.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: None;
}

.kanban__dropzone{
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active{
    height: 20px;
    background-color: rgba(0,0,0,0.25);
}

.kanban__add-item{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0,0,0,0.25);
    border: None;
    border-radius: 5px;
    cursor:pointer;
}